<div class="modal-content">
  <form id="createRecipe" name="createRecipe" role="form" class="form-horizontal">
    <div class="modal-header">
      <button type="button" ng-click="createRecipeController.cancel()" class="close"><span
        aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      <h4 id="myModalLabel" class="modal-title">create Recipe</h4>
    </div>
    <div class="modal-body">
       <div role="alert" ng-show="createRecipeController.formError" class="alert alert-danger">{{ createRecipeController.formError }}</div>
       <div role="alert" ng-show="createRecipeController.formInfo" class="alert alert-info">{{ createRecipeController.formInfo }}</div>
      <div class="form-group">
         <label for="user name" class="col-xs-3 col-sm-3 control-label">name	</label>
         <div class="col-xs-9 col-sm-9">
            <input id="name" name="name" type="text"  ng-model="createRecipeController.recipe.name" class="form-control" required/>
         </div>
      </div>
	    <div class="form-group">
         <label for="description" class="col-xs-3 col-sm-3 control-label">description	</label>
         <div class="col-xs-9 col-sm-9">
            <input id="description" name="description" type="text"  ng-model="createRecipeController.recipe.description" class="form-control" required/>
         </div>
	    </div>
      <div class="form-group">
         <label for="image" class="col-xs-3 col-sm-3 control-label">image	</label>
         <div class="col-xs-9 col-sm-9">
            <input id="image" name="image" type="text" ng-model="createRecipeController.recipe.image" class="form-control" required/>
         </div>
      </div>
	  <div class="form-group">
         <label for="prepTime" class="col-xs-3 col-sm-3 control-label">prepTime	</label>
         <div class="col-xs-9 col-sm-9">
            <input id="prepTime" name="prepTime" type="number" ng-model="createRecipeController.recipe.prepTime" class="form-control" required/>
         </div>
      </div>
	  <div class="form-group">
         <label for="cookTime" class="col-xs-3 col-sm-3 control-label">cookTime	</label>
         <div class="col-xs-9 col-sm-9">
            <input id="cookTime" name="cookTime" type="number" ng-model="createRecipeController.recipe.cookTime" class="form-control" required/>
         </div>
      </div>
	  <div class="form-group" >
         <label for="directions" class="col-xs-3 col-sm-3 control-label">directions	</label>
		 <button class="btn btn-primary mt12" ng-click="createRecipeController.addDirection()">Add a new direction</button>
      </div>
      <div class="form-group" ng-repeat="o in createRecipeController.directions">
         <label for="directions" class="col-xs-3 col-sm-3 control-label"> 	</label>
         <div class="col-xs-7 col-sm-7">
            <input name="directions" type="text" ng-model="o.content" class="form-control" required/>
         </div>
		 <div class="col-xs-2 col-sm-2">
			<button class="btn btn-primary glyphicon glyphicon-trash" ng-click="createRecipeController.removeDirection($index)"></button>
         </div>
      </div>
      <div class="form-group" >
         <label for="ingredients" class="col-xs-3 col-sm-3 control-label">ingredients	</label>
		 <button class="btn btn-primary mt12" ng-click="createRecipeController.addIngredient()">Add a new ingredient</button>
      </div>
      <div class="form-group" ng-repeat="o in createRecipeController.ingredients">
         <label for="ingredients" class="col-xs-3 col-sm-3 control-label"> 	</label>
         <div class="col-xs-5 col-sm-5">
            <input name="ingredientsn" type="text" ng-model="o.name" class="form-control" required/>
         </div>
		 <div class="col-xs-2 col-sm-2">
            <input name="ingredientsa" type="number" ng-model="o.amount" class="form-control" required/>
         </div>
		 <div class="col-xs-2 col-sm-2">
			<button class="btn btn-primary glyphicon glyphicon-trash" ng-click="createRecipeController.removeIngredient($index)"></button>
         </div>
      </div>
      <div class="modal-footer">
        <button ng-click="createRecipeController.cancel()" type="button" class="btn btndefault">Cancel</button>
        <button type="submit" class="btn btn-primary" ng-click="createRecipeController.submitForm()">create User</button>
      </div>
   </div>
  </form>
</div>
